<article class="categories-fish">
    <ul>
        <li>Suivez-nous</li>
        <ul>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Instagram</li>
        </ul>
        <li>Séries</li>
        <ul>
            <li>Action</li>
            <li>Horreur</li>
            <li>Comedie</li>
        </ul>
        <li>Contacts</li>
        <ul>
            <li>Fone: +33 02 45 78 96</li>
            <li>Email: contact@fishblock.fr</li>
            <li>Adresse: 1 Rue Victor Hugo - Nantes 44400</li>
        </ul>
        <li>Newletter</li>
        <ul>
            <li>CONTEUDO 1</li>
            <li>CONTEUDO 2</li>
            <li>CONTEUDO 3</li>
        </ul>
    </ul>
</article>