{% block slider %}
    <aside class="avantages-fish">
        <h1 class="cache-fish">Avantages</h1>
        <div class="">
            <h3>Nous sommes un réseau social dont le but est de mettre en relation les fans de séries en tout genre.</h3>
        </div>

        <ul class="container-fluid">
            <li class="col-sm-4 ">
                    <i class="fa fa-cubes decouvrez"></i> <h4>DÉCOUVREZ</h4>
                    <p>
                    Nous organisons votre bouche à oreille culturel. Découvrez des séries qui correspondent à vos goûts.
                    </p>
            </li>
            <li class="col-sm-4">
                    <i class="fa fa-star notez"></i> <h4>NOTEZ</h4>
                    <p>
                    Evaluez les films que vous avez vus. Classez-les selon vos critères ou donnez votre avis détaillé dans une critique.
                    </p>
            </li>
            <li class="col-sm-4">
                    <i class="fa fa-share-alt partagez"></i> <h4>PARTAGEZ</h4>
                    <p>
                    Faites découvrir vos coups de coeur et vos coups de gueule à vos amis, conseillez leur ce qu'ils pourront aimer.
                    </p>
            </li>
        </ul>
    </aside>

{% endblock %}