{% extends '::base.html.twig' %}

{#{% use 'AcmeFishBlockBundle:Accueil:sidebar_genres.html.twig' %}#}

{#{% block sidebar %}{% endblock %}#}



{% block body %}
    Welcome in my first page!

    <a href="{{ path('fos_user_registration_register') }}">S'inscrire</a>
    <a href="{{ path('fos_user_security_login') }}">Se Connecter</a>
{% endblock %}


