{% block sidebar %}
    <aside class="nouveautes-fish">
   <h1>Nouveautés:</h1>
        <ul>
            <li>Série 1</li>
            <li>Série 2</li>
            <li>Série 3</li>
            <li>Série 4</li>
        </ul>
    </aside>
{% endblock %}