{% extends '::base.html.twig' %}
{% use 'AcmeFishBlockBundle:Admin:sidebar_admin.html.twig' %}

{% block body -%}
    <h1>Serie creation</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('serie') }}">
                {{ 'fish.back'|trans({}, 'AcmeFishBlockBundle') }}
            </a>
        </li>
    </ul>
{% endblock %}
