main
  position: relative
  width: 100%

section.contenu-fish
  background-color: $gris-clair-fish
  max-width: 80%
  margin: 0 auto
  margin-bottom: 50px !important
  min-height: 600px
  padding: 40px

article.form-fish
  position: relative
  width: 25%
  margin-left: 10%
  margin-top: 5%


  label
    display: inline-block
    text-indent: 20px

  input:not([type=checkbox])
    border: 2px solid $blue-fish
    border-radius: 4px
    width: 100%
    padding: 0.5em
    margin-bottom: 15px

  input[type=submit]
    margin-top: 20px

  input:hover, input:focus
    background-color: $gris-fish
    color: $yellow-fish
    border-color: $yellow-fish

