body
	font-family: 'Open Sans', sans-serif !important
a
	+transition(.5s)
	&:hover,
	&:focus
		text-decoration: none !important
		color: $yellow-fish
ul
	li
		display: inline-block
		a
			text-transform: capitalize	

header
	background-color: $blue-fish
	width: 100%
	min-height: 100px
	padding-top: 20px
	margin-bottom: 20px

	figure.logo-fish
		img
			float: left

	span
		float: right
		font-weight: $bold
		a

	nav.menu-login-fish
		float: right
		width: 320px
		height: 50px
		font-weight: $bold
		li
			a
				padding: 6px 18px

nav.menu-nav-fish
	position: relative
	display: inline-block
	min-width: 67%
	margin-left: 7%
	height: 2.5em
	padding: 8px
	font-size: 1.1em
	font-weight: $bold
	margin-bottom: 30px

	ul
		li
			margin-right: 1em

	span
		font-size: 1.3em
		margin-right: 0.2em

.btn-fish
	padding: 6px 10px
	border: 2px solid $gris-clair-fish
	border-radius: 4px
	color: $gris-fish

.btn-fish:hover
	background-color: $gris-fish
	color: $yellow-fish

.cache-fish
	display: none

section.nav-fish
	min-height: 30px
	width: 100%
	margin-bottom: 20px
	

div.search-fish
	position: relative
	display: inline-block
	min-width: 25%

	form
		div
			input
				border: 2px solid $gris-clair-fish
				border-radius: 4px !important
				padding-right: 35px !important

			

	
	.btn-search-fish
		clear: both
		cursor: pointer
		font-size: 1.5em
		position: absolute
		top: 2px
		right: 8px
		z-index: 5555
		background: transparent
		border: none
	i:hover
		color: $yellow-fish

		
	
	
	
	