.profile-fish
  img
    border: 6px solid $yellow-fish
    align-content: center
    border-radius: 200px

.mini-image-fish
  border: 3px solid $gris-clair-fish
  border-radius: 200px
  align-content: center

